<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bootproject.user.repository.UserMapper">
    <select id="loginUser"  resultType="uldto">
        select * from user where email = #{email} and pwd =#{pwd}
    </select>
    
    <select id="getUserInfo" parameterType="string" resultType="uvo">
        select * from user where email = #{email}
    </select>
    
    <select id="getRoles" parameterType="string" resultType="string">
        select auth from auth_user where email = #{email}
    </select>
    
    <select id="selectUserList" resultType="uvo">
        select uid, email, nick_name, location, points, profile_img, last_login, grade from user
    </select>
    
    <select id="selectUserByEmail" parameterType="string" resultType="uvo">
         select * from user where email = #{email}
    </select>
    
    <select id="validNicknameChk" parameterType="string">
        select uid from user where nick_name = #{nickName}
    </select>
    
    <select id="validEmailChk" parameterType="string">
        select uid from user where email = #{email}
    </select>
    
    
    
     <insert id="insertUser" parameterType="uvo" >
        insert into user (email, nick_name, location, pwd, roles) values(#{email}, #{nickName}, #{location}, #{pwd}, #{roles})
    </insert>

    <insert id="insertAuthInit" parameterType="string">
        insert into auth_user (email,auth ) values(#{email}, 'ROLE_USER')
    </insert>
    
    <insert id="insertAuthManager" parameterType="string">
        insert into auth_user (email,auth ) values(#{email}, 'ROLE_MANAGER')
    </insert>
    
    <insert id="insertAuthAdmin" parameterType="string">
        insert into auth_user (email,auth ) values(#{email}, 'ROLE_ADMIN')
    </insert>
    
    <update id="updateUserNickname" parameterType="uvo">
        update user set nick_name = #{nickName} where uid = #{uid}
    </update>
    
    <update id="updateUserLocation" parameterType="uvo">
        update user set location = #{location} where uid = #{uid}
    </update>
    
    <update id="updateUserProfileImg" parameterType="uvo">
        update user set profile_img = #{profileImg} where uid = #{uid}
    </update>
    
    <update id="updateUserLastLogin" parameterType="uvo">
        update user set last_login = now() where uid = #{uid}
    </update>
    
    <update id="updateUserGrade" parameterType="uvo">
        update user set grade = #{grade} where uid = #{uid}
    </update>
    
    <update id="updateUserPoints" parameterType="uvo">
        update user set points = points + #{points} where uid = #{uid}
    </update>
    
    <delete id="deleteUser" parameterType="long">
        delete from user where uid = #{uid}
    </delete>
</mapper>